*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    

}

.imagens img{
    width: 100vw;
    height: 100vh;
    display:block;
    
    
}
